.game-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-template-rows: repeat(var(--rows), minmax(0, 1fr));
  width: calc(var(--columns) * 20px);
  height: calc(var(--rows) * 20px);
}
.game-grid img {
  display: block;
}
.tile-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  background-image: url("/images/MinesweeperUnopened.svg");
}
