.tile-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}
.unopened-tile {
  background-image: url("/images/MinesweeperUnopened.svg");
}
.tile0 {
  background-image: url("/images/Minesweeper0.svg");
}
.tile1 {
  background-image: url("/images/Minesweeper1.svg");
}
.tile2 {
  background-image: url("/images/Minesweeper2.svg");
}
.tile3 {
  background-image: url("/images/Minesweeper3.svg");
}
.tile4 {
  background-image: url("/images/Minesweeper4.svg");
}
.tile5 {
  background-image: url("/images/Minesweeper5.svg");
}
.tile6 {
  background-image: url("/images/Minesweeper6.svg");
}
.tile7 {
  background-image: url("/images/Minesweeper7.svg");
}
.tile8 {
  background-image: url("/images/Minesweeper8.svg");
}
.minesweeper-flag {
  background-image: url("/images/MinesweeperFlag.svg");
}
.minesweeper-bomb {
  background-image: url("/images/MinesweeperBomb.svg");
}
.minesweeper-clicked-bomb {
  background-image: url("/images/MinesweeperClickedBomb.svg");
}
